.content_legal_notice {
margin-right: 60px;
margin-left: 60px;
margin-bottom: 60px;
}

h1 {
    color: #702E92;
    font-size: 29px;
    padding-top: 60px;
}

p {
padding: 18px 0;
}
.list_legal_notice {
padding: 18px 0;
}

span {
    font-weight: bold;
}
.list_legal_notice li::before {
    content: "•";
    color: rgb(66, 33, 66);
    padding-right: 5px;
}
