* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
  background-color: white;
  font-family: 'helvetica-neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

nav a:hover{
  color: #62D3A4;
}

.links {
    align-items: center;
    background-color: #F1F1F1;
    display: none;
    margin-top: 10px;
}    

.links .line {
  border: 1px solid #A7A7A7;
  height: 1.5em;
  flex: none;
  padding: 0;
}

.links li {
    flex: 1 1 auto;
    text-align: center;
    position: relative;
    padding: 10px 0;
}

.links li ul {
    position: absolute;
}

.links li ul,
.sub_mobile li ul {
    display: none;
    top: 37px;
    width: 100%;
    background-color: #f1f1f1;
}

.burger {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #F1F1F1;
}

.burger img {
    float: right;
    width: 50px;
    margin-right: 20px;
}


.sub_mobile {
    background-color: #F1F1F1;
    display: none;
    text-align: center;
}

.sub_mobile li {
    padding: 15px 0;
}


.top_nav {
    display: flex;
    justify-content: space-between;
    align-items: normal;
}

.top_nav li img {
    width: 150px;
}

.top_nav li:first-child img {
    margin: 15px 0 0 15px;
}


.top_nav .logo,
.logo_mobile img {
    width: 300px;
}

.logo {
    display: none;
}

.logo_mobile {
    text-align: center;
}

.presentation {
    margin: 10px;
    text-align: center;
}

.presentation img {
    margin: 30px 0;
}

.presentation div {
    text-align: left;
    width: 290px;
    margin: 0 auto;
}

.presentation p {
    font-weight: 600;
    font-size: 30px;
}

.presentation p:last-child {
    font-size: 25px;
}

.presentation p span {
    color: #702E92;
    font-weight: 300;
    font-size: 20px;
}

.presentation .row {
    width: 100px;
    height: 5px;
    display: inline-block;
    background-color: #62D3A4;
}

.display_none {
    display: none;
}


@media screen and (min-width: 769px) and (max-width: 992px) {

    .burger,
    .logo_mobile {
        display: none;
    }
    .links {
        display: flex;
    }
    .logo {
        display: block;
    }
    .top_nav li img {
        width: 200px;
    }


}

@media screen and (min-width: 993px) and (max-width: 1200px) {

    .burger,
    .logo_mobile {
        display: none;
    }
    .links {
        display: flex;
    }    
    .logo {
        display: block;
    }
    .top_nav li img {
        width: 200px;
    }


}


@media screen and (min-width: 1201px) {

    .burger,
    .logo_mobile {
        display: none;
    }
    .links {
        display: flex;
    }    
    .logo {
        display: block;
    }
    .top_nav li img {
        width: 200px;
    }

    
}